#map {
    width: 100%;
    height: calc(100% - 50px);
    z-index: 1;
}

#map.selected {
    height: calc(50% - 25px);
}

#panorama {
    width: 100%;
    height: calc(50% - 25px);
    display: none;
    z-index: 1;
}

#noPano {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(50% - 25px);
    z-index: 2;
    visibility: hidden;
    background: #cccccc;
}

#noPano>p {
    margin: auto;
}

#control {
    position: absolute;
    right: 10px;
    top: 60px;
    width: 125px;
    z-index: 3;
}

#placeControl {
    position: absolute;
    right: 10px;
    top: calc(50% + 35px);
    width: 100px;
    z-index: 3;
    visibility: hidden;
}
