* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

p, h1, h2, button, a {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-weight: 500;
}

h1 {
    font-size: 32px;
}

h1>a:link, h1>a:visited {
    color: inherit;
}

h1>a:hover, h1>a:focus {
    text-decoration: none;
}

h2, div.header.small h1 {
    font-size: 24px;
}

p, h2 {
    line-height: 150%;
}

p {
    font-weight: 300;
    font-size: 16px;
}

img {
    display: block;
}

sup, sub {
    position: relative;
    font-size: smaller;
}

sup {
    vertical-align: top;
    top: -0.4em;
}

sub {
    vertical-align: bottom;
    bottom: -0.4em;
}

.mono {
    font-family: 'Roboto Mono', monospace;
}

.bold {
    font-weight: 500;
}

.small {
    font-size: 12px;
}

.justify {
    text-align: justify;
}

.marginTop {
    margin-top: 10px;
}

.marginBottom {
    margin-bottom: 10px;
}

svg.inline {
    vertical-align: -0.15em;
}

a:link, a:visited {
    color: #3b5998;
    font-weight: 500;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

button, a.button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #5e77aa;
    padding: 0 15px;
    height: 35px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

button:enabled:hover, button:enabled:focus, a.button:hover, a.button:focus {
    background-color: #29457f;
    outline: none;
    text-decoration: none;
}

button:disabled {
    cursor: not-allowed;
    color: #dddddd;
    opacity: 0.7;
}

button.fullWidth, a.button.fullWidth {
    padding: 0;
    width: 100%;
}

button.gray, a.button.gray {
    background-color: #808080;
}

button.gray:hover, button.gray:focus, a.button.gray:hover, a.button.gray:focus {
    background-color: #555555;
}

div.header {
    background-color: #333333;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    color: white;
}

div.header>div.grid {
    display: grid;
    grid-template-columns: auto auto;
}

div.header.small {
    height: 40px;
    line-height: 40px;
}

div.main {
    padding: 6px 12px;
}

div.buttonContainer {
    height: 35px;
}

div.buttonContainer>button {
    margin: 0 auto;
}

div.mapContainer {
    display: grid;
}

div.mapItem {
    width: 350px;
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 10px auto;
}

div.mapItem>div.title {
    background-color: #28a745;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 4px 8px;
}

div.mapItem>div.title>p.title {
    font-weight: 500;
    font-size: 18px;
}

div.mapItem>img {
    width: 100%;
}

div.mapItem>div.inner {
    padding: 8px;
}

div.mapItem>div.inner>div.info {
    display: grid;
    grid-template-columns: auto auto;
}

div.mapItem>div.inner>div.info>p:nth-child(1) {
    text-align: left;
}

div.mapItem>div.inner>div.info>p:nth-child(2) {
    text-align: right;
}

#loading {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    z-index: 5;
}

#roundInfo {
    line-height: inherit;
    text-align: right;
}

#roundInfo p {
    font-size: 16px;
    line-height: inherit;
}

#panorama {
    width: 100%;
    height: calc(100% - 40px);
    z-index: 1;
}

#cover {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 3;
}

#guess {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 2;
}

#guess.result {
    z-index: 4;
}

#guess>#continueButtonContainer {
    display: none;
}

#guess.result>#closeGuessButtonContainer, #guess.result>#guessButtonContainer {
    display: none;
}

#guess.result>#continueButtonContainer {
    display: block;
}

#map {
    width: 100%;
    border-radius: 3px;
}

#guess.result>#map {
    height: calc(100% - 170px);
}

#resultInfo {
    margin-top: 5px;
    width: 100%;
    height: 120px;
    padding: 5px 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 3px;
    display: none;
}

#guess.result>#resultInfo {
    display: block;
}

#resultInfo>div {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultInfo p {
    font-size: 24px;
    line-height: 1;
}

#distanceInfo>p:nth-child(2), #scoreInfo>p:nth-child(2) {
    display: none;
}

#scoreBarBase {
    height: 24px;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 3px;
}

#scoreBar {
    width: 0;
    height: 100%;
    border-radius: 3px;
    transition-property: width;
    transition-duration: 2.0s;
}

#showSummaryButton, #startNewGameButton {
    display: none;
}

@media screen and (min-width: 1504px) {
    div.mapContainer {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1134px) and (max-width: 1503px) {
    div.mapContainer {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 764px) and (max-width: 1133px) {
    div.mapContainer {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 763px) {
    div.mapContainer {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 374px) {
    div.mapItem {
        width: initial;
    }
}

@media screen and (max-width: 599px) {
    div.header.small h1 span {
        display: none;
    }
    button {
        padding: 0;
        width: 100%;
    }
    #showGuessButtonContainer {
        position: absolute;
        left: 20px;
        bottom: 30px;
        right: 20px;
        z-index: 2;
    }
    #guess {
        top: 50px;
        left: 20px;
        opacity: 0.95;
        visibility: hidden;
    }
    #map {
        height: calc(100% - 90px);
    }
    #scoreBarBase {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    #showGuessButtonContainer {
        display: none;
    }
    #guess {
        width: 500px;
        height: 375px;
        opacity: 0.95;
    }
    #guess.adapt {
        top: initial;
        width: 250px;
        height: 200px;
        opacity: 0.5;
        transition-property: width, height, opacity;
        transition-duration: 0.1s;
        transition-delay: 0.8s;
    }
    #guess.adapt:hover {
        width: 500px;
        height: 375px;
        opacity: 0.95;
        transition-delay: 0s;
    }
    #closeGuessButtonContainer {
        display: none;
    }
    #map {
        height: calc(100% - 45px);
    }
    #guess.result {
        width: initial;
        height: initial;
        top: 50px;
        left: 50px;
        right: 50px;
        bottom: 50px;
    }
    #scoreBarBase {
        width: 60%;
    }
    @media screen and (max-height: 424px) {
        #guess {
            top: 50px;
            height: initial;
        }
        #guess.adapt:hover {
            top: 50px;
            height: initial;
        }
        #guess.result {
            left: 20px;
            right: 20px;
            bottom: 30px;
        }
    }
}
